@charset "UTF-8";

body {
  background: #f9f9f9;
  margin: 0px;
  padding: 0px;
}

.reserve {
  width: 500px;
  margin: 0 auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  padding: 20px;
}

.book {
  cursor: pointer;
  font-weight: bold;
  color: #333;
  margin: 15px 0;
  transition: color 0.3s ease;
}

.book:hover {
  color: #4a90e2;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.3s ease;
  padding: 0 5px;
  color: #555;
  line-height: 1.6;
  padding-left: 30px;
}

.answer.open {
  max-height: 200px;
  padding: 10px 5px;
  padding-left: 30px;
}

.line {
  border: none;
  border-top: 1px solid #ddd;
}


.faq{
	text-align: center;
}
.led{
	text-align: center;
	color: gray;
}
.container{
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.search{
	height:40px;
	width:40%;
	font-size: 1.25em;
	border-radius: 10px;
}
.btn{
	height:45px;
	width:80px;
	border-radius: 10px;
	margin-left: 10px;
	font-size: 1.2em;
	font-weight: 900;
}

.reserve{
	margin:50px auto;
	border:1px solid gray;
	border-radius:20px;
	width: 80%;
	background-color: white;
}

.book{
	font-size: 2em;
	padding-left:30px;
	font-weight: 600;
}

.line{
	margin-left: 30px;
	margin-right: 30px;
}

.inquirey{
	margin:auto;
	width: 80%;
	height:125px;
	background: white;
	border: 1px solid black;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.want{
	text-align: center;
	font-size: 1.5em;
}

.inq{
	margin:auto;
	color: red;
	text-decoration: none;
	font-size: 1.2em;
}