@charset "UTF-8";

body{
	background: #f7f7f7
}

.big_title{
	margin:auto;
}

.container{
	margin:auto;
	width: 70%;
	height: 700px;
	background: white;	
	border-radius: 16px;
	border: 1px solid black;
	padding: 10px;
    margin-top: 50px;
}


.inquiry_head {
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    padding-right:30px;
    background: #f5f5f5;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 10px;

}


.sp_ans  { width: 100%; text-align: center; }


.inquiry_body{
	width:100%;
	height: 600px;
	border-radius: 16px;
	border: 1px solid gray;
}


