@charset "UTF-8";

body{
	background-color: #f7f7f7;
}

.inquery{
	text-align: center;
	margin-top: 70px;
	font-size: 2.5em;
	}
.many{
	text-align: center;
	margin:auto;
	color: gray;
}

.container{
	margin:30px auto;
	padding:20px;
	width:80%;
	height:500px;
	border-radius: 30px;
	background-color: white;
	border: 1px solid black;

}


.ma {
    text-align: center;
    font-size: 18px;
    color: #666;
    padding: 50px 0;
}

/* 헤더 */
.inquiry_head {
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    padding-right:30px;
    background: #f5f5f5;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}

.sp_num { width:7%; font-weight: 500;}
.sp_title { width: 20%; }
.sp_date { width: 25%; text-align: center; }
.sp_ans  { width: 25%; text-align: center; }

.sp_fix{
	background-color: #f7f7f7;
	border-radius: 8px;

}
.sp_del{
	background-color: #cd0000;
	color:white;
	border-radius: 8px;
}
.inq_detail{
	text-decoration: none;
	color: inherit;
}

/* 리스트 */
.inquiry_item {
    display: flex;
    justify-content: space-between;
    padding: 14px 20px;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: 0.2s;
}

.inquiry_item:hover {
    background: #fafafa;
    transform: translateY(-2px);
}

/* 내용 정렬 너비 */
.item_num { width:7%; font-weight: 500;}
.item_title { width: 20%; font-weight: 500; }
.item_date  { width: 25%; text-align: center; color: #777; }
.item_status_pen { 
    width: 25%; 
    text-align: center; 
    font-weight: bold; 
    color:#cd0000;
}
.item_status_com{
	width:25%;
	text-align: center; 
    font-weight: bold; 
    color:green;
		
}

/* 상태 색상 */
.item_status::before {
    content: "";
}



.inquirey{
	width: 80%;
	height:50px;
	border-radius: 30px;
	background-color: #cd0000;
	color:white;
	font-size: 1.5em;
}



.ma{
	margin:auto;
	font-size: 1.2em;
}

.inq-con{
	margin:auto;
	width:80%;
	height: 40px;
	background-color: #CD0000;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.inq{
	text-decoration: none;
	color: white;
}
