@charset "UTF-8";

body{
	background-color: #f7f7f7;
}

.movie-req{
	text-align: center;
	margin-top: 70px;
	font-size: 2.5em;
	}
.req{
	text-align: center;
	margin:auto;
	color: gray;
}

.container{
	margin:30px auto;
	width:80%;
	height:500px;
	border-radius: 30px;
	background-color: white;
	border: 1px solid black;
	padding: 15px;
}

.mov-write{
	width: 80%;
	height:50px;
	border-radius: 30px;
	background-color: #cd0000;
	color:white;
	font-size: 1.5em;
}



.ma{
	margin:auto;
	font-size: 1.2em;
}

.mov-write{
	margin:auto;
	width:80%;
	height: 40px;
	background-color: #CD0000;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
		text-decoration: none;
}

.movie{
	text-decoration: none;
	color: white;
}

.inquiry_head {
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    padding-right:30px;
    background: #f5f5f5;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}

.sp_num { width:10%; font-weight: 500;}
.sp_title { width: 15%; text-align: center;}
.sp_content { width: 25%; text-align: center; }
.sp_wri_date { width: 25%; text-align: center; }
.sp_ans  { width: 25%; text-align: center; }


.inquiry_item {
    display: flex;
    justify-content: space-between;
    padding: 14px 20px;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: 0.2s;
}

.inquiry_item:hover {
    background: #fafafa;
    transform: translateY(-2px);
}

/* 내용 정렬 너비 */
.item_num { width:7%; font-weight: 500;}
.item_title { width: 20%; font-weight: 500; }
.item_content  { width: 25%; text-align: center; color: #777; }
.item_date{width: 25%; text-align: center;}
.item_status_rej { 
    width: 25%; 
    text-align: center; 
    font-weight: bold; 
    color:#cd0000;
}
.item_status_app{
	width:25%;
	text-align: center; 
    font-weight: bold; 
    color:green;
		
}
.item_status_pen{
	width:25%;
	text-align: center; 
    font-weight: bold; 
    color:gray;
		
}