/* 결제 페이지 전체 리셋 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	margin: 0;
    padding: 0
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    
}

/* 제목 */
h1 {
	margin-top: 100px;
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
    color: #333;
}

/* 결제 정보 박스 */
.payment-info {
    width: 400px;
    max-width: 90%;
    margin: 0 auto 30px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.payment-info p {
    font-size: 16px;
    margin-bottom: 12px;
    color: #555;
}

.payment-info span {
    font-weight: bold;
    color: #333;
}

/* 결제 버튼 */
#payBtn {
    display: block;
    width: 100%;
    padding: 12px 0;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #cd0000;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#payBtn:hover {
    background-color: #ff4081;
}

/* 모바일 대응 */
@media (max-width: 480px) {
    .payment-info {
        width: 95%;
        padding: 15px;
    }

    #payBtn {
        font-size: 14px;
        padding: 10px 0;
    }
}
