<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mapper.CustomerMapper">

<insert id="insertinquirty">
	insert into inquiries(user_id,title,content,status,created_at)
	values (#{userId},#{title},#{content},#{status},#{createdAt})
</insert>

<select id="inquiries" resultType="com.itwillbs.domain.InquiriesVO">
	select id, user_id as userId, title, content, status, created_at as createdAt from inquiries where user_id = #{userId}

</select>
<select id="inquiry_count" resultType="java.lang.Integer">
	select count(*) from inquiries where user_id = #{userId}

</select>
<select id="inquiry_detail" resultType="com.itwillbs.domain.InquiriesVO">
	select user_id as userId,title,created_at as createdAt, answered_at as answeredAt from inquiries where user_id = #{userId}
</select>

  <update id="inquiry_update">
  	update board
  	set title = #{title}, content = #{content}, status = #{status}
  	where id = #{id}
  </update>

  <delete id="inquiry_delete">
  	delete from inquiries
  	where id = #{id}
  </delete>
  
  <select id="movie_request" resultType="com.itwillbs.domain.MovieRequestVO">
  	select user_id,status,created_at as createdAt,processed_at as processedAt from movie_request where user_id = #{userId}
  </select>
  
  <select id="movie_request_count" resultType="java.lang.Integer">
  	select count(*) from movie_request where user_id = #{userId}
  </select>

</mapper>