<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mapper.MemberMapper">

<insert id="insertMember">
insert into users (user_id, role, password, username, email, gender, birth_date, phone, profile_image)
values(#{user_id}, #{role},#{password},#{username},#{email},#{gender},#{birthDate},#{phone},#{profileImage})
</insert>

<select id="getGenres" resultType="com.itwillbs.domain.GenresVO">
SELECT genre_id AS genreId, genre_name AS genreName
 FROM genres
</select>

<select id="loginMember" resultType="com.itwillbs.domain.MemberVO">
	select * from users
  	where user_id = #{user_id} and password = #{password}
</select>


<!-- <insert id="insertGenres"> -->
<!-- insert into user_genres (user_id, genre_id) -->
<!-- values(#{userId},#{genreId}) -->
<!-- </insert> -->

    <insert id="insertGenre" parameterType="com.itwillbs.domain.UserGenresVO">
        INSERT INTO user_genres (user_id, genre_id)
        VALUES (#{userId}, #{genreId})
    </insert>



  
</mapper>