<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mapper.MovieMapper">
	<!-- api로 받아온 movie 정보 담기 -->
	<insert id = "insertMovie">
		INSERT IGNORE INTO movies(
			tmdb_id,
			title,
			poster_path,
			release_date,
			overview,
			runtime
		) VALUES(
			#{tmdbId},
			#{title},
			#{posterPath},
			#{releaseDate},
			#{overview},
			#{runtime}
		)
	</insert>
	
	<!-- genres 테이블이랑 movies 테이블 조인하기 위한 resultMap -->
	<resultMap id="movieWithGenresMap" type="com.itwillbs.domain.MovieVO">
		<id property="tmdbId" column="tmdb_id"/>
		
		<result property="title" column = "title"/>
		<result property="posterPath" column="poster_path"/>
		<result property="releaseDate" column="release_date" />
    	<result property="overview" column="overview" />
   		<result property="runtime" column="runtime" />
   		<result property="popularity" column="popularity"/>
		<result property="isFavorite" column="is_favorite"/>
   		
   		
   		<!-- 장르 리스트 매핑 -->
   		<collection property="genres" ofType="string">
   			<result column="genre_name"/>
   		</collection>
   		
	</resultMap>
	
	
	<!-- DB에 저장된 MOVIE값 가져오기 -->
	<select id="getAllMovies" resultType = "com.itwillbs.domain.MovieVO">
		SELECT 
			tmdb_id AS tmdbId,
			title,
			poster_path AS posterPath,
			release_date AS releaseDate,
			overview,
			runtime
		FROM movies
		ORDER BY release_date DESC
	</select>
	
	<!-- movie_genres 연결 저장하기 -->
	<insert id="insertMovieGenre">
		INSERT INTO movie_genres(tmdb_id, genre_id)
		VALUES(#{tmdbId}, #{genreId})
	</insert>
	
	<!-- genre 저장하기 -->
	<insert id = "insertGenre">
		INSERT IGNORE INTO genres (genre_id, genre_name)
		VALUES (#{genreId}, #{genreName})
	</insert>
	
	
	<!-- 영화 상세 페이지 -->
	<select id="getMovieById" resultMap="movieWithGenresMap">
		SELECT
			m.tmdb_id,
			m.title,
			m.poster_path,
			m.release_date,
			m.overview,
			m.runtime,
			m.popularity,
			g.genre_name AS genre_name
			
		FROM movies m
		LEFT JOIN movie_genres mg ON m.tmdb_id = mg.tmdb_id
		LEFT JOIN genres g ON mg.genre_id = g.genre_id
		WHERE m.tmdb_id = #{tmdbId}
	
	</select>
	
	<!-- 영화 상세 페이지 업데이트 (runtime, popularity) -->
	<update id="updateMovieDetail" parameterType="com.itwillbs.domain.MovieVO">
	    UPDATE movies
	    SET popularity = #{popularity},
	        runtime = #{runtime}
	    WHERE tmdb_id = #{tmdbId}
	</update>
	
	<!-- 영화 인기순 정렬 -->
	<select id="findAllByOrderByPopularityDesc" resultMap ="movieWithGenresMap" >
		  SELECT 
        m.tmdb_id,
        m.title,
        m.poster_path,
        m.release_date,
        m.overview,
        m.runtime,
        g.genre_name AS genre_name,
        CASE 
            WHEN uf.tmdb_id IS NOT NULL THEN 1 
            ELSE 0 
        END AS is_favorite
	    FROM movies m
	    LEFT JOIN movie_genres mg ON m.tmdb_id = mg.tmdb_id
	    LEFT JOIN genres g ON mg.genre_id = g.genre_id
	    LEFT JOIN user_favorites uf ON uf.tmdb_id = m.tmdb_id AND uf.user_id = #{userId}
	    ORDER BY m.popularity DESC, m.tmdb_id
	</select>
	
	<!-- 영화 최신순 정렬 -->
	<select id="findAllByOrderByReleaseDateDesc" resultMap ="movieWithGenresMap" >
		SELECT 
        m.tmdb_id,
        m.title,
        m.poster_path,
        m.release_date,
        m.overview,
        m.runtime,
        g.genre_name AS genre_name,
        CASE 
            WHEN uf.tmdb_id IS NOT NULL THEN 1 
            ELSE 0 
        	END AS is_favorite
	    FROM movies m
	    LEFT JOIN movie_genres mg ON m.tmdb_id = mg.tmdb_id
	    LEFT JOIN genres g ON mg.genre_id = g.genre_id
	    LEFT JOIN user_favorites uf ON uf.tmdb_id = m.tmdb_id AND uf.user_id = #{userId}
	    ORDER BY m.release_date DESC, m.tmdb_id
	</select>
  
  
  <!-- 찜 여부 확인 -->
  <select id="isFavorite" resultType="int">
  	SELECT COUNT(*)
  	FROM user_favorites
  	WHERE user_id = #{userId} AND tmdb_id = #{tmdbId}
  </select>
  
  <!-- 찜 추가 -->
  <insert id="addFavorite">
  	INSERT INTO user_favorites (user_id, tmdb_id)
  	VALUES (#{userId}, #{tmdbId})
  </insert>
  
  <!-- 찜 삭제 -->
  <delete id="removeFavorite">
  	DELETE FROM user_favorites
  	WHERE user_id = #{userId} AND tmdb_id = #{tmdbId}
  </delete>
  
  <!-- 찜 반영 (movies popularity) -->
  <update id="updateMoviePopularity">
  	UPDATE movies
    SET popularity = #{popularity}
    WHERE tmdb_id = #{tmdbId}
  </update>
  
  <select id="getAllTheaters" resultType="com.itwillbs.domain.TheatersVO">
    SELECT theater_id, name, location
    FROM theaters
    ORDER BY name ASC
</select>
  
</mapper>